header.Header
	.Header_top
		.Container.Header_topContainer
			a(href="/").Header_logo
				img(src="/img/logo.svg" alt="Logo").Header_logoImg
			.Label.Label-guarantee 100% Money Back Guarantee. Free Shipping both ways
	.Header_bottom
		.Container.Header_bottomContainer
			.MainMenu
				ul.MainMenu_list
					li.MainMenu_item
						a(href="#").MainMenu_link All Guitars
					li.MainMenu_item
						a(href="#").MainMenu_link Easy play
					li.MainMenu_item
						a(href="#").MainMenu_link Compare models
					li.MainMenu_item
						a(href="#").MainMenu_link Reviews
					li.MainMenu_item
						a(href="#").MainMenu_link.MainMenu_link-active On Sale
					li.MainMenu_item
						a(href="#").MainMenu_link FAQs
			a(href="#").Label.Label-cart.Header_cartLabel Cart