extends layouts/base

block content
  .HomePage
    .MainBanner.HomePage_mainBanner
      .Container
        .MainBanner_block
          .MainBanner_blockInner
            h1.MainBanner_title Zager Guitar Luxury Accessories Bundle
            .Label.Label-mainBanner.MainBanner_label Includes everything you need to Take Good Care of your Zager and even Learn How Play It:
            .MainBanner_listAndPrice
              ul.List.MainBanner_list
                li.List_item Zager Pro ABS case with digital humidity system ($195)
                li.List_item LIFETIME Access to the Zager lesson library ($199)
                li.List_item A year's worth of Zager EZ-Play custom guitar strings ($99)
                li.List_item A year's worth of Zager Pro Carbon guitar picks ($45)
                li.List_item A Zager hand-stitched padded leather embossed strap ($48)
                li.List_item A Zager pro custom capo ($39)
              .MainBanner_price
                .MainBanner_priceLabel Only
                .MainBanner_priceValue $599
            a(href="#").BtnDefault.MainBanner_btn ADD TO CART
    .Container
      .CTABlock.HomePage_ctaBlock
        .CTABlock_inner
          h2.CTABlock_title #[span.Orange Get the Entire Bundle For Free] if You Pre-Order Your Guitar within the Next 48 Hours!
          a(href="#").CTABlock_link Learn more
          .CTABlock_bottom
            a(href="#").BtnDefault.CTABlock_btn Pre-order today
            .CircularBlocks.CTABlock_circularBlocks
              .CircularBlock.CircularBlocks_item
                .CircularBlock_number 47
                .CircularBlock_label Hours
              .CircularBlock.CircularBlock-second.CircularBlocks_item
                .CircularBlock_number 59
                .CircularBlock_label Minutes
              .CircularBlock.CircularBlock-third.CircularBlocks_item
                .CircularBlock_number 45
                .CircularBlock_label Seconds
      .ProductCards.HomePage_productCards
        .ProductCards_textWrapper
          h2.ProductCards_title In the bundle
          .ProductCards_description
            p Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Vivamus laoreet. Curabitur blandit mollis lacus. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Proin viverra, ligula sit amet ultrices semper,
        .ProductCards_items
          .ProductCard.ProductCards_item
            .ProductCard_imgWrapper
              a(href="#")
                img(src="/img/product_card1.webp" alt="Zager Pro ABS Ultra Light Molded Case").ProductCard_img
            .ProductCard_textWrapper
              h3.ProductCard_title Zager Pro ABS Ultra Light Molded Case
              .ProductCard_bottom
                .ProductCard_price
                  .ProductCard_priceLabel Worth
                  .ProductCard_priceValue $195
                a(href="#").ProductCard_link Learn more
          .ProductCard.ProductCards_item
            .ProductCard_imgWrapper
              a(href="#")
                img(src="/img/product_card2.webp" alt="LIFETIME Access to the Zager lesson library").ProductCard_img
            .ProductCard_textWrapper
              h3.ProductCard_title LIFETIME Access to the Zager lesson library
              .ProductCard_bottom
                .ProductCard_price
                  .ProductCard_priceLabel Worth
                  .ProductCard_priceValue $199
                a(href="#").ProductCard_link Learn more
          .ProductCard.ProductCards_item
            .ProductCard_imgWrapper
              a(href="#")
                img(src="/img/product_card3.webp" alt="A year's worth of Zager EZ-Play custom guitar strings").ProductCard_img
            .ProductCard_textWrapper
              h3.ProductCard_title A year's worth of Zager EZ-Play custom guitar strings
              .ProductCard_bottom
                .ProductCard_price
                  .ProductCard_priceLabel Worth
                  .ProductCard_priceValue $99
                a(href="#").ProductCard_link Learn more
          .ProductCard.ProductCards_item
            .ProductCard_imgWrapper
              a(href="#")
                img(src="/img/product_card4.webp" alt="A year's worth of Zager Pro Carbon guitar picks").ProductCard_img
            .ProductCard_textWrapper
              h3.ProductCard_title A year's worth of Zager Pro Carbon guitar picks
              .ProductCard_bottom
                .ProductCard_price
                  .ProductCard_priceLabel Worth
                  .ProductCard_priceValue $45
                a(href="#").ProductCard_link Learn more
          .ProductCard.ProductCards_item
            .ProductCard_imgWrapper
              a(href="#")
                img(src="/img/product_card5.webp" alt="A Zager hand-stitched padded leather embossed strap").ProductCard_img
            .ProductCard_textWrapper
              h3.ProductCard_title A Zager hand-stitched padded leather embossed strap
              .ProductCard_bottom
                .ProductCard_price
                  .ProductCard_priceLabel Worth
                  .ProductCard_priceValue $48
                a(href="#").ProductCard_link Learn more
          .ProductCard.ProductCards_item
            .ProductCard_imgWrapper
              a(href="#")
                img(src="/img/product_card6.webp" alt="A Zager pro custom capo").ProductCard_img
            .ProductCard_textWrapper
              h3.ProductCard_title A Zager pro custom capo
              .ProductCard_bottom
                .ProductCard_price
                  .ProductCard_priceLabel Worth
                  .ProductCard_priceValue $39
                a(href="#").ProductCard_link Learn more
        .ProductCards_bottom
          .ProductCards_bottomText
            p GET THE FULL ZAGER PACKAGE TODAY
          .ProductCards_addToCart
            .Prices.ProductCards_prices
              .OldPrice $625
              .Price $599
            a(href="#").BtnDefault.BtnDefault-productCards.ProductCards_btn ADD TO CART
      .CTABlock.CTABlock-large.HomePage_largeCTABlock
        .CTABlock_inner
          h2.CTABlock_title #[span.Orange Get the Entire Bundle For Free] if You Pre-Order Your Guitar within the Next 48 Hours!
          a(href="#").CTABlock_link Learn more
          .CTABlock_bottom
            .CircularBlocks.CTABlock_circularBlocks
              .CircularBlock.CircularBlocks_item
                .CircularBlock_number 47
                .CircularBlock_label Hours
              .CircularBlock.CircularBlock-second.CircularBlocks_item
                .CircularBlock_number 59
                .CircularBlock_label Minutes
              .CircularBlock.CircularBlock-third.CircularBlocks_item
                .CircularBlock_number 45
                .CircularBlock_label Seconds
            a(href="#").BtnDefault.CTABlock_btn Pre-order today
      .TextBlock.HomePage_textBlock
        .TextBlock_wrapper
          .TextBlock_left
            h2.TextBlock_title Zager Pro ABS Ultra Light Molded Case w/ Digital Humidity System
            .TextBlock_text
              p The #1 killer of acoustic guitars is climate change. Leaving your guitar next to a vent or in direct sunlight will warp the woods causing buzzing and eventually cracks ruining your guitar forever. By simply storing your guitar in a climate controlled atmosphere it will look, play and sound like the day you bought it forever. You cannot find this case in stores for under $250.
            .TextBlock_price Valued at $195
            a(href="#").TextBlock_link Buy separately
          .TextBlock_right
            .Swiper.TextBlock_swiper
              .Swiper_gallery.swiper
                .swiper-wrapper
                  .Swiper_gallerySlide.swiper-slide
                    img(src="/img/slide_img.webp").Swiper_galleryImg
                  .Swiper_gallerySlide.swiper-slide
                    img(src="/img/slide_img.webp").Swiper_galleryImg
                  .Swiper_gallerySlide.swiper-slide
                    img(src="/img/slide_img.webp").Swiper_galleryImg
                  .Swiper_gallerySlide.swiper-slide
                    img(src="/img/slide_img.webp").Swiper_galleryImg
                  .Swiper_gallerySlide.swiper-slide
                    img(src="/img/slide_img.webp").Swiper_galleryImg
              .Swiper_thumbs.swiper
                .swiper-wrapper
                  .Swiper_thumbsSlide.swiper-slide
                    img(src="/img/thumbnail_img.webp").Swiper_thumbsImg
                  .Swiper_thumbsSlide.swiper-slide
                    img(src="/img/thumbnail_img.webp").Swiper_thumbsImg
                  .Swiper_thumbsSlide.swiper-slide
                    img(src="/img/thumbnail_img.webp").Swiper_thumbsImg
                  .Swiper_thumbsSlide.swiper-slide
                    img(src="/img/thumbnail_img.webp").Swiper_thumbsImg
                  .Swiper_thumbsSlide.swiper-slide
                    img(src="/img/thumbnail_img.webp").Swiper_thumbsImg
      .ListBlock.HomePage_listBlock
        h2.ListBlock_title FEATURES
        .ListBlock_wrapper
          .ListBlock_left
            ul.List.List-black
              li.List_item Ultra light ABS molded construction (one of the few cases in the world you can stand on)
              li.List_item Custom fitted to within 1 millimeter of your guitars body
              li.List_item Digital humidity system accurate to within 1%
              li.List_item Through bolt locking system with key
          .ListBlock_right
            ul.List.List-black
              li.List_item Triple chrome plated latches
              li.List_item Padded interior glove box
              li.List_item EPS foam plush interior
              li.List_item Lifetime warranty
      .TextBlock.HomePage_textBlock
        .TextBlock_wrapper
          .TextBlock_left
            h2.TextBlock_title Learn guitar from a Master using the easiest guitar system in the world.
            .TextBlock_text
              p Look at the best guitar players in the world and you’ll notice they have one thing in common. They play guitar by ear. Since 1969 Denny Zager‘s taught millions of people to play guitar using his internationally acclaimed “Play-By-Ear” guitar method that shows you how to tap into that part of your brain scientists say we rarely use and “Play-By-Ear” like the pros do. The Zager Guitar Lesson Library gives you the opportunity to learn guitar using a revolutionary guitar system one-on-one from a true guitar master.
            .TextBlock_price Valued at $199
            a(href="#").TextBlock_link Buy separately
          .TextBlock_right
            img(src="/img/learn_guitar_img.webp").TextBlock_img
      .ListBlock.HomePage_listBlock
        h2.ListBlock_title FEATURES
        .ListBlock_wrapper
          .ListBlock_left
            ul.List.List-black
              li.List_item Ultra light ABS molded construction (one of the few cases in the world you can stand on)
              li.List_item Custom fitted to within 1 millimeter of your guitars body
              li.List_item Digital humidity system accurate to within 1%
              li.List_item Through bolt locking system with key
          .ListBlock_right
            ul.List.List-black
              li.List_item Triple chrome plated latches
              li.List_item Padded interior glove box
              li.List_item EPS foam plush interior
              li.List_item Lifetime warranty
      .TextBlock.TextBlock-borderBottom.HomePage_textBlock
        .TextBlock_wrapper
          .TextBlock_left
            h2.TextBlock_title Easy Play “No Sore Fingers” Guitar Strings…
            .TextBlock_text
              p Zager Easy Play “No Sore Fingers” Guitar strings take away pain and allow you to play longer and move faster with less fatigue and soreness. 70 years of research has created what pros are calling the best guitar string on the market today.  Patented soft metal core requires 50% less pressure to form chords.  Reduces finger pain, extends play time and promotes greater speed and accuracy.   Makes any guitar easier to play.   Before spending $200 having your guitar “set up” try Zager strings and if your guitar isn’t easier to play we’ll refund 100% of your payment.  Hand wound daily in Lincoln, Nebraska.
            h3.TextBlock_subTitle Why a EZ-play guitar strings easy on the fingers
            .Video.TextBlock_video
              <iframe width="560" height="315" src="https://www.youtube.com/embed/mfsxD6_S8GI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            .TextBlock_price Valued at $199
            a(href="#").TextBlock_link Buy separately
          .TextBlock_right
            img(src="/img/easy_play.webp").TextBlock_img
            .ListBlock.ListBlock-noBorderBottom.TextBlock_listBlock
              h2.ListBlock_title FEATURES
              ul.List.List-black
                li.List_item Patented soft metal core requires 50% less pressure to form chords
                li.List_item Reduces finger pain and extends play time
                li.List_item Promotes greater speed and accuracy
                li.List_item Makes any guitar easier to play
                li.List_item As seen in the National Arthritis Foundation
                li.List_item As seen in the National Multiple Sclerosis Society
                li.List_item Phosphor bronze Anti-rust design
                li.List_item Custom light gauge
                li.List_item Don’t spend $200-300 having your guitar “set up”
                li.List_item Hand wound daily in Lincoln, Nebraska
      .CTABlock.HomePage_ctaBlock
        .CTABlock_inner
          h2.CTABlock_title #[span.Orange Get the Entire Bundle For Free] if You Pre-Order Your Guitar within the Next 48 Hours!
          a(href="#").CTABlock_link Learn more
          .CTABlock_bottom
            a(href="#").BtnDefault.CTABlock_btn Pre-order today
            .CircularBlocks.CTABlock_circularBlocks
              .CircularBlock.CircularBlocks_item
                .CircularBlock_number 47
                .CircularBlock_label Hours
              .CircularBlock.CircularBlock-second.CircularBlocks_item
                .CircularBlock_number 59
                .CircularBlock_label Minutes
              .CircularBlock.CircularBlock-third.CircularBlocks_item
                .CircularBlock_number 45
                .CircularBlock_label Seconds
      .TextBlock.TextBlock-borderBottom.TextBlock-largeTextWidth.HomePage_textBlock
        h2.TextBlock_title Zager Carbon Flex Tip Guitar Pick w/ Thumb Hole Pivot Point
        .TextBlock_wrapper
          .TextBlock_left
            .TextBlock_text
              p 40 years of research created what pros are calling the best guitar pick on the market today.Patented “Flex Tip” design rolls over strings eliminating string breakage, tuning issues, and excessive wear on coated strings.
            ul.List.List-black.TextBlock_list
              li.List_item Carbon construction absorbs vibration allowing you to play longer with less fatigue.
              li.List_item Patented ergonomic “Thumb Hole Pivot Point” with specially positioned holes for thumb, pointer and middle fingers allows for multiple finger positions that feel natural in your hand.
              li.List_item Symmetrical shape with 3 contact points last 3 times longer than teardrop picks and always lands perfectly in your fingers.
              li.List_item Vented 4 hole design wicks away perspiration providing less slippage and better accuracy.
              li.List_item Attaches to tuning gears when not in use making them impossible to lose.Used by Lady Gaga, Johnny Cash and other artists.
            .TextBlock_price Valued at $45
            a(href="#").TextBlock_link Buy separately
          .TextBlock_right
            img(src="/img/zager_carbon_flex.webp").TextBlock_img
      .TextBlock.TextBlock-borderBottom.HomePage_textBlock
        .TextBlock_wrapper
          .TextBlock_left
            h2.TextBlock_title Zager Leather Padded Custom Strap
            .TextBlock_text
              p Designed by Denny exclusively for his guitars.  Zager embossed padded brown leather guitar strap is made of supple vegan leather with cushy foam padding for the most comfortable playing experience.  Adjustable for the right fit on every player.
            .TextBlock_price Valued at $48
            a(href="#").TextBlock_link Buy separately
          .TextBlock_right
            img(src="/img/zager_leather_padded.webp").TextBlock_img
      .TextBlock.TextBlock-borderBottom.HomePage_textBlock
        .TextBlock_wrapper
          .TextBlock_left
            h2.TextBlock_title Zager Professional Capo
            .TextBlock_text
              p The highest quality capo on the market today. Designed by Mr. Zager exclusively for the Zager guitar neck design. Makes your guitar even easier to play. #[br]100% money back guarantee, lifetime warranty.
            .TextBlock_price Valued at $39
            a(href="#").TextBlock_link Buy separately
          .TextBlock_right
            img(src="/img/zager_professional_capo.webp").TextBlock_img