font-face('Roboto Slab', '../fonts/RobotoSlab/RobotoSlab-Light', 300)
font-face('Roboto Slab', '../fonts/RobotoSlab/RobotoSlab-Regular')
font-face('Roboto Slab', '../fonts/RobotoSlab/RobotoSlab-Medium', 500)
font-face('Roboto Slab', '../fonts/RobotoSlab/RobotoSlab-SemiBold', 600)
font-face('Roboto Slab', '../fonts/RobotoSlab/RobotoSlab-Bold', 700)
font-face('Roboto Slab', '../fonts/RobotoSlab/RobotoSlab-ExtraBold', 800)
font-face('Roboto Slab', '../fonts/RobotoSlab/RobotoSlab-Black', 900)