.transition
  transition all .2s ease-in-out

.Yellow
  color $yellow

.hidden-xs
	@media $xs
		display none!important
.hidden-xxs
	@media $xxs
		display none!important
.hidden-smPlus
	@media $smPlus
		display none!important
.hidden-sm
	@media $sm
		display none!important
.hidden-smMinus
	@media $smMinus
		display none!important
.hidden-md
	@media $md
		display none!important
.hidden-mdPlus
	@media $mdPlus
		display none!important

.hidden
	display none !important