$black = #000
$white = #fff
$orange = #e9b12e
$blue = #4a8feb
$grey = #f1f1f1

$baseFont = "Roboto Slab", sans-serif

// Media queries
$xxs = '(max-width: 575px)'
$xxsPlus = '(min-width: 576px)'
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$mdPlus = '(min-width: 1024px)'
$lgMinus = '(max-width: 1199px)'
$-1280 = '(max-width: 1280px)'
$lgPlus = '(min-width: 1200px)'
$md = '(min-width: 1024px) and (max-width: 1199px)'
$xlMinus = '(max-width: 1919px)'
$lg = '(min-width: 1200px) and (max-width: 1919px)'
$xlPlus = '(min-width: 1920px)'
