.BtnDefault
	display inline-grid
	width 229px
	max-width 100%
	border-radius 5px
	padding 10px 20px
	background-color $blue
	filter drop-shadow(0 1px 0.5px rgba($black, 0.16))
	font-weight 700
	font-size 12px
	line-height 21px
	color $white
	text-decoration none
	text-align center
	white-space nowrap
	@extend .transition
	
	&:hover
		background darken($blue, 10)
	
	&-productCards
		padding-top 14px
		padding-bottom 13px