.Header
	background $black
	color $white
	
	&_top
		padding 15px 0 10px
		border-bottom 1px solid #707070
	
	&_topContainer,
	&_bottomContainer
		display grid
		grid-template-columns auto auto
		justify-content space-between
		align-items center
	
	&_bottom
		padding 10px 0
	
	&_cartLabel
		margin-top -5px