.HomePage
	padding-bottom 20px
	
	&_mainBanner
		margin-bottom 31px
	
	&_ctaBlock
		margin-bottom 83px
		
		@media $xs
			margin-right auto
			margin-left auto
			margin-bottom 44px
		
		@media $smPlus
			margin-right 4px
			margin-left 25px
	
	&_productCards
		margin-bottom 70px
		
		@media $xs
			margin-bottom 35px
		
		@media $smPlus
			margin-right -16px
			margin-left 6px
	
	&_largeCTABlock
		margin-bottom 49px
		
		@media $xs
			margin-right -20px
			margin-left -20px
		
		@media $smPlus
			margin-right 4px
			margin-left 25px
	
	&_textBlock
		margin-bottom 38px
		
		@media $smPlus
			margin-right 4px
			margin-left 25px
	
	&_listBlock
		margin-bottom 55px
		
		@media $smPlus
			margin-left 25px