.HomePage
	padding-bottom 20px
	
	&_mainBanner
		margin-bottom 31px
	
	&_ctaBlock
		margin-right 4px
		margin-bottom 83px
		margin-left 25px
	
	&_productCards
		margin-right -16px
		margin-bottom 70px
		margin-left 6px
	
	&_largeCTABlock
		margin-right 4px
		margin-bottom 49px
		margin-left 25px
	
	&_textBlock
		margin-right 4px
		margin-bottom 38px
		margin-left 25px
	
	&_listBlock
		// margin-bottom 60px
		margin-bottom 55px
		margin-left 25px
	
	// &_textBlocks
	// 	margin-right 4px
	// 	margin-bottom 38px
	// 	margin-left 25px