.List
	display grid
	grid-template-columns 100%
	gap 15px
	
	&_item
		display grid
		grid-template-columns 20px auto
		align-items center
		gap 25px
		color $white
		font-size 14px
		
		&::before
			content ""
			width 20px
			height 16px
			background url("data:image/svg+xml,%3Csvg version='1.2' baseProfile='tiny-ps' xmlns='http://www.w3.org/2000/svg' width='20' height='16'%3E%3Cdefs%3E%3CclipPath clipPathUnits='userSpaceOnUse' id='cp1'%3E%3Cpath d='M0-8h30v198H0V-8Z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cstyle%3E%3C/style%3E%3Cg id='Web 1366 – 6'%3E%3Cg id='Group 183'%3E%3Cg id='Repeat Grid 2' clip-path='url(%23cp1)'%3E%3Cg id='Group 173'%3E%3Cg id='Group 172'%3E%3Cpath id='Path 30' d='M6.51 15c-.39 0-.77-.15-1.07-.44l-5-5c-.59-.59-.59-1.55 0-2.14.59-.59 1.55-.59 2.14 0l3.93 3.93L17.42.44c.59-.59 1.54-.59 2.13 0 .6.59.6 1.55 0 2.14L7.58 14.56c-.3.29-.68.44-1.07.44Z' style='fill:%23e9b12e'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat
	
	&-black
		.List_item
			color $black