.ListBlock
	position relative
	padding 27px 0 44px
	border-top 1px solid #a6a6a6
	border-bottom 1px solid #a6a6a6
	
	&_title
		position absolute
		top -12px
		left 0
		padding-right 12px
		font-weight bold
		font-size 16px
		line-height 22px
		color #333
		background $white
	
	&_wrapper
		display grid
		grid-template-columns 1fr 1fr
		gap 28px
	
	&-noBorderBottom
		padding-bottom 0
		border-bottom none