.MainBanner
	padding 33px 0 36px
	background url('../img/bg_main_banner.webp') center 0 / cover no-repeat
	
	&_block
		margin-right -4px
		margin-left -6px
		padding 23px 30px 34px
		background rgba($black, .8)
	
	&_blockInner
		width 696px
		max-width 100%
		margin-right auto
		margin-left auto
	
	&_title
		margin-bottom 17px
		color $white
		font-weight normal
		font-size 35px
	
	&_label
		margin-bottom 32px
	
	&_listAndPrice
		display grid
		grid-template-columns 1fr auto
		align-items end
		gap 25px
		margin-right 21px
		margin-bottom 40px
	
	&_price
		margin-bottom -3px
		color $orange
	
	&_priceLabel
		margin-left -4px
		font-size 14px
	
	&_priceValue
		font-size 33px
	
	&_btn
		margin-left 6px