.MainMenu
	&_list
		display flex
		align-items center
		gap 28px
		list-style none
	
	&_item
		color $white
		font-weight 500
		font-size 14px
		line-height 20px
	
	&_link
		color $white
		text-decoration none
		@extend .transition
		
		&:hover,
		&-active
			color $orange