.MainBanner
	padding 33px 0 36px
	background url('../img/bg_main_banner.webp') center 0 / cover no-repeat
	
	&_block
		padding 23px 30px 34px
		background rgba($black, .8)
		
		@media $xs
			padding-right 5px
			padding-left 5px
		
		@media $smPlus
			margin-right -4px
			margin-left -6px
	
	&_blockInner
		width 696px
		max-width 100%
		margin-right auto
		margin-left auto
		
		@media $xs
			display grid
			justify-items center
	
	&_title
		margin-bottom 17px
		color $white
		font-weight normal
		font-size 35px
		
		@media $xs
			margin-bottom 24px
			font-size 18px
			text-align center
	
	&_label
		margin-bottom 32px
		
		@media $xs
			margin-bottom 40px
			text-align center
	
	&_listAndPrice
		display grid
		grid-template-columns 1fr auto
		align-items end
		gap 25px
		margin-right 21px
		margin-bottom 37px
		
		@media $xs
			grid-template-columns 100%
			margin-bottom 27px
			margin-right 10px
			margin-left 10px
	
	&_price
		margin-bottom -3px
		color $orange
		
		@media $xs
			display grid
			grid-template-columns auto auto
			justify-content end
			gap 16px
	
	&_priceLabel
		font-size 14px
		
		@media $xs
			margin-top 6px
		
		@media $smPlus
			margin-left -4px
	
	&_priceValue
		font-size 33px
	
	&_btn
		margin-left 6px