.MenuHamburger
  display inline-grid
  // border 1px solid $grey
  outline none
  background transparent
  text-decoration none
  cursor pointer
  @extend .transition
  
  &::before
    content ''
    width 19px
    height 16px
    background url("data:image/svg+xml,%3Csvg class='SvgIco' width='19' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='SvgIco_stroke' d='M1 1h16.5M1 8h16.5M1 15h16.5' stroke='%23e9b12e' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E") 0 0 no-repeat
    @extend .transition
  
  &:hover
    &::before
      background-image url("data:image/svg+xml,%3Csvg class='SvgIco' width='19' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='SvgIco_stroke' d='M1 1h16.5M1 8h16.5M1 15h16.5' stroke='%23FFFBF6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E")
  
  @media $xs
    justify-content center
    align-items center
    width 44px
    height 44px
  
  // @media $smPlus
  //   display inline-grid
  //   grid-template-columns 19px 1fr
  //   column-gap 10px
  //   padding 11px 11px 11px 7px
  //   border-radius 4px
  //   font-weight bold
  //   font-size 14px
  //   font-family $robotoSlab
  //   text-transform uppercase

  // &:hover
  //   @media $xs
  //     background-color $dark
  //     color $lightBeige

  //     &::before
  //       background-image url("data:image/svg+xml,%3Csvg class='SvgIco' width='19' viewBox='0 0 19 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath class='SvgIco_stroke' d='M1 1h16.5M1 8h16.5M1 15h16.5' stroke='%23FFFBF6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/svg%3E")
    
  //   @media $smPlus
  //     background $grey
  
  // &-active
  //   background $grey
    
  //   &::before
  //     width 18.5px
  //     height 16px
  //     background url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18.5' height='16'%3E%3Cg data-name='Сгруппировать 196' fill='none' stroke='%2313141a' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Cpath data-name='Контур 190' d='m3.417 2.166 11.667 11.667'/%3E%3Cpath data-name='Контур 192' d='M15.084 2.166 3.417 13.833'/%3E%3C/g%3E%3C/svg%3E") 0 0 no-repeat