.SubscribeForm
	&_items
		display grid
		grid-template-columns 255px auto
		gap 15px
		margin-bottom 6px
		
		@media $xs
			grid-template-columns 100%
	
	&_note
		font-weight 700
		font-size 12px
		line-height 21px
		color rgba(#dedede, 0.5)
		filter drop-shadow(0 1px 0.5px rgba($black, 0.16))
	
	&-smallGap
		.SubscribeForm_items
			gap 10px