.TextBlock
	color #181818
	
	&_wrapper
		display grid
		grid-template-columns 1fr 1fr
		gap 30px
	
	&_title
		margin-bottom 24px
		font-weight 700
		font-size 25px
	
	&_text
		margin-bottom 26px
		font-size 16px
		line-height 22px
	
	&_subTitle
		margin-top 38px
		margin-bottom 18px
		font-size 16px
		line-height 22px
		color #333
	
	&_video
		margin-bottom 24px
	
	&_list
		margin-bottom 37px
	
	&_price
		margin-bottom 17px
		font-weight 700
		color $orange
	
	&_link
		display inline-grid
		border-bottom 1px solid #181818
		font-weight 700
		font-size 15px
		line-height 21px
		color #181818
		text-decoration none
		@extend .transition
		
		&:hover
			border-bottom-color transparent
	
	&_right
		min-width 0
		padding-top 6px
	
	&_img
		margin-bottom 33px
		
		&:last-child
			margin-bottom 0
	
	&-borderBottom
		padding-bottom 30px
		border-bottom 1px solid #a6a6a6
		
	&-largeTextWidth
		padding-bottom 35px
		
		.TextBlock_title
			margin-bottom 36px
			
		.TextBlock_wrapper
			grid-template-columns 1fr auto
		
		.TextBlock_text
			margin-bottom 33px
		
		.TextBlock_right
			padding-top 0